.HomeBackdrop {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
}

.Backdrop {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #CACACA;
}

.CenterCol{
    margin: 5px;
    height: 86vh;
}

.CenterCol-7{
    text-align: center;
    margin: 5px;
    height: 86vh;
}

.CenterContentContainer {
    height: 86vh;
}

.TopNavContainer {
    height: 7vh;
    background: linear-gradient(180deg, rgba(57, 93, 218, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #5D5FEF;
}

.Logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    color: white;
}

.Logo h1 {
    font-family: 'Patua One', cursive;
    font-size: 30px;
}

.DashTitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.DashOptions{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
}

.DashOptions h5{
    margin: 10px;
    font-family: 'Sora', sans-serif;
    font-size: 15px;
}

.TopNavRow{
    align-items: center;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.CenterLeftNav{
    background-color: white;
    height: 100%;
}

.CenterRightNav{
    background-color: white;
    height: 100%;
}

.FooterContainer {
    bottom: 0;
    position: fixed;
    height: 7vh;
    background: #202DA4;
}

.CenterContent{
    background: #E5E5E5;
    width: 100%;
    height: 100%;
}

.CarouselContainer{
    padding-top: 5%;
}

.Carousel{
    filter: drop-shadow(5px 10px 6px rgba(0,0,0,0.55));
}

.TaskListBackground{
    background-color: #E5E5E5;
    padding:10px;
}

.TaskListGroup{
    margin:5%;
}

.CourseContainer{
    padding-top: 5%;
}

.FooterRow{
    align-items: center;
    height: 100%;
}

.FooterFAQ{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    align-self: flex-end;
}

.SFSUContact{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
}

.uLearnContact{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    align-self: flex-end;
}

.CenterHeader{
    justify-content: center;
    flex-grow: 4;
    align-self: center;
}

.CalendarRow{
    height:'85%';
    font-size:'24px';
}

.CalendarRow abbr{
    text-decoration: none;
}

.homeBanner {
    height: 500;
    width: 500;
    margin-left: 10%;
}

.Banner {
    font-family: 'Sora', sans-serif;
}

.Banner h1 {
    font-family: 'Patua One', cursive;
    font-size: 50px;
}

.Banner h1::first-letter {
    color: #5D5FEF;
}

.Banner h2 {
    font-size: 20px;
}

.Cards {
    font-family: 'Sora', sans-serif;
}

.Cards h2 {
    font-size: 23px;
}

.homeCards {
    position: relative; 
    justify-content: center; 
    width: 50%; 
    left: 25%; 
    min-height: 35vh;
}

.dropdown-toggle{
    width:100%;
}

.dropdown-menu.show{
    width:100%;
    text-align: center;
}

.SideCalendar{
    font-size: 12px;
}

.cardCheckBox {
    float: right;
    pointer-events: none;
}
