.Backdrop {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #CACACA;
}

.CenterCol{
    text-align: center;
    margin: 5px;
    height: 86vh;
}

.CenterCol-7{
    text-align: center;
    margin: 5px;
    height: 86vh;
}

.CenterContentContainer {
    height: 86vh;
}

.TopNavContainer {
    height: 7vh;
    background: linear-gradient(180deg, rgba(57, 93, 218, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #5D5FEF;
}

.Logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    color: white;
}

.DashTitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.DashOptions{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
}

.DashOptions h5{
    margin: 10px;
}

.TopNavRow{
    align-items: center;
    height: 100%;
}

.CenterLeftNav{
    background-color: white;
    height: 100%;
}

.CenterRightNav{
    background-color: white;
    height: 100%;
}

.FooterContainer {
    height: 7vh;
    background: #202DA4;
}

.CenterContent{
    background: #E5E5E5;
    width: 100%;
    height: 100%;
}

.CarouselContainer{
    padding-top: 5%;
}

.Carousel{
    filter: drop-shadow(5px 10px 6px rgba(0,0,0,0.55));
}

.TaskListBackground{
    background-color: #E5E5E5;
}

.TaskListGroup{
    margin:5%;
}

.CourseContainer{
    padding-top: 5%;
}