.backgroundImage{
    background: url('https://idp.sfsu.edu/idp/images/global-login.jpg') no-repeat center center fixed;
    height: 100vh; 
    background-size: cover;
}
   #center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    padding: 60px;
   }
   .img-responsive{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: -20px;
   }

   #main h1{
       border: none;
   }

   .padding-15{
       padding: 15px;
   }

   .margin-15{
       margin: 15px;
   }

   .text-center{
       text-align: center;
   }

   .mike{
       font-size: 28px;
   }
   .mike{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: #464666;
   }

   .form-group{
       margin-bottom: 15px;
   }

   .btn-primary-true{
    color: #fff;
    background-color: #231161;
    border-color: #231161;
    display: inline-block;
   }

   .btn-block{
    display: block;
    width: 100%;
   }

   .btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    display: inline-block;
   }

   .btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }


   a.login{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem; 
    background: transparent;
   }


   .tfa{
    color: #660;
    text-decoration: none;
   }
   .padding-top-20{
       padding-top: 20px;
   }

   p.test{
       margin: 0 0 10px;
       text-align: center;
   }

   #main label{
       padding-left: 5px;
   }
   
   
   .loginLabel{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.42857143;
    color: #565656;
   }
   .control-label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.42857143;
    color: #565656;
   }
   