html { 
    background: url('https://idp.sfsu.edu/idp/images/global-login.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

   #center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    padding: 60px;
   }

   body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #565656;
   }
   .img-responsive{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: -20px;
   }

   #main h1{
       border: none;
   }

   .padding-15{
       padding: 15px;
   }

   .margin-15{
       margin: 15px;
   }

   .text-center{
       text-align: center;
   }

   h1{
       font-size: 28px;
   }
   h1{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: #464666;
   }

   *{
       box-sizing: border-box;
   }

   .form-group{
       margin-bottom: 15px;
   }

   .btn-primary-true{
    color: #fff;
    background-color: #231161;
    border-color: #231161;
   }

   .btn-block{
    display: block;
    width: 100%;
   }

   .btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
   }

   .btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }

   input,button,select{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
   }

   button{
    -webkit-appearance: button;
   }

   button{
       text-transform: none;
   }

   button{
    overflow: visible;
   }

   button{
    color: inherit;
    font: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        margin: 0;
        margin-bottom: 0px;  
   }

   a.login{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem; 
   }

   a{
       background: transparent;
   }

   .tfa{
    color: #660;
    text-decoration: none;
   }
   .padding-top-20{
       padding-top: 20px;
   }

   p{
       margin: 0 0 10px;
   }

  